<div class="main-container">
  <mat-card class="center" flex="50" >
    <form class="card-form" [formGroup]="options">
      <mat-form-field>
        <input
          formControlName="cardId"
          required
          matInput
          placeholder="Card ID"
          [maxlength]="lengthData.maxlength"
        />
      </mat-form-field>
      <p class="error" *ngIf="options.hasError('unavaliableLength')">
        Card ID should be shorter
      </p>
      <p class="error" *ngIf="options.hasError('wrongId')">
        Card ID is wrong
      </p>
      <button
        class="mat-raised-button mat-accent submit-button"
        type="submit"
        mat-button
        [disabled]="!options.valid"
        (click)="submit()"
      >
        Submit
      </button>

    </form>
  </mat-card>
</div>
<app-keyboard (number)="showNumber($event)" [keyboardAvaliableLength]="lengthData.avaliable "></app-keyboard>

