<div class="main-board">
  <div class="controls" (click)="controlClick($event)" id="board">
    <div class="control" value="1">1</div>
    <div class="control" value="2">2</div>
    <div class="control" value="3">3</div>
    <div class="control" value="4">4</div>
    <div class="control" value="5">5</div>
    <div class="control" value="6">6</div>
    <div class="control" value="7">7</div>
    <div class="control" value="8">8</div>
    <div class="control" value="9">9</div>
    <div class="control" value="Cancel">C</div>
    <div class="control" value="0">0</div>
    <div class="control" ></div>
  </div>
  <div class="avaliable-length">{{keyboardAvaliableLength}}</div>
</div>
