<div class="main-board">
  <div class="controls" (click)="controlClick($event)" id="board">
    <button mat-button class="control" mat-button value="1">1</button>
    <button mat-button class="control" value="2">2</button>
    <button mat-button class="control" value="3">3</button>
    <button mat-button class="control" value="4">4</button>
    <button mat-button class="control" value="5">5</button>
    <button mat-button class="control" value="6">6</button>
    <button mat-button class="control" value="7">7</button>
    <button mat-button class="control" value="8">8</button>
    <button mat-button class="control" value="9">9</button>
    <button mat-button class="control" value="Cancel">C</button>
    <button mat-button class="control" value="0">0</button>
    <button mat-button class="control" ></button>
  </div>
  <div class="avaliable-length">{{keyboardAvaliableLength}}</div>
</div>
